<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.designstudios.crazywithkids.tapameal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home"
            android:theme="@style/tapameal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Plan1"
            android:theme="@style/tapameal" />
        <activity android:name=".Plan2"
            android:theme="@style/tapameal" />
        <activity android:name=".Plan3"
            android:theme="@style/tapameal" />
        <activity android:name=".Plan4"
            android:theme="@style/tapameal" />
        <activity android:name=".Plan5"
            android:theme="@style/tapameal" />
        <activity android:name=".info"
            android:theme="@style/tapameal"/>
        <activity android:name=".proteinPop"
            android:theme="@style/AppTheme.PopupWindow"/>
        <activity android:name=".dairyPop"
            android:theme="@style/AppTheme.PopupWindow"/>
        <activity android:name=".fatPop"
            android:theme="@style/AppTheme.PopupWindow"/>
        <activity android:name=".fruitPop"
            android:theme="@style/AppTheme.PopupWindow"/>
        <activity android:name=".starchPop"
            android:theme="@style/AppTheme.PopupWindow"/>
        <activity android:name=".treatPop"
            android:theme="@style/AppTheme.PopupWindow"/>
        <activity android:name=".veggiePop"
            android:theme="@style/AppTheme.PopupWindow"/>

    </application>

</manifest>